@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.body-container {
  width: 100%;
  flex-direction: column;
  display: flex;
  background-color: black;
  align-items: center;
}

/* ----- Main Product ----- */

h1 {
  font-size: 1.52em;
  color: white;
}

h2 {
  color: white;
}

p {
  font-size: 1em;
  color: white;
  word-wrap: break-word;
}

.main-product-container {
  width: 100%;
  height: fit-content;
  max-width: 560px;
  background-color: rgb(16, 16, 16);
}

.main-text-container {
  margin: 8px;
}

.main-heading {
}

.main-product-img {
  width: 100%;
  height: 250px;
}

.main-picture {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.main-price-raiting {
  align-self: flex-end;
}

.main-details-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-button-price {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-evenly;
}

.main-button-price-container {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.main-button {
  border: none;
  background: #1619ef;
  background: -moz-linear-gradient(left, #1619ef 0%, #9b39cb 56%, #8b0b9b 100%);
  background: -webkit-linear-gradient(
    left,
    #1619ef 0%,
    #9b39cb 56%,
    #8b0b9b 100%
  );
  background: linear-gradient(to right, #1619ef 0%, #9b39cb 56%, #8b0b9b 100%);
  color: white;
  width: 150px;
  height: 30px;
}

.main-rating {
  color: white;
}

/* ----- Other Products ----- */

.productContainer {
  width: 100%;
  max-width: 560px;
}

.other-product-container {
  width: 100%;
  height: 500px;
  margin: 8px 0 0 0;
  background-color: rgb(16, 16, 16);
}

.other-product-img {
  width: 100%;
  height: 250px;
}

.other-raiting-price {
  align-self: flex-end;
}

.other-picture {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.other-details-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-price {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-evenly;
}

.other-button-price-container {
  display: flex;
  justify-content: space-between;
}

.rating {
  color: white;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.52em;
    color: white;
  }

  h2 {
    color: white;
  }

  p {
    font-size: 1em;
    color: white;
    word-wrap: break-word;
  }

  .main-product-container {
    width: 100%;
    height: 700px;
    max-width: 1100px;
  }

  .main-heading {
  }

  .main-product-img {
    width: 100%;
    height: 350px;
  }

  .main-picture {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }

  .main-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .main-button-price-container {
    display: flex;
    justify-content: space-between;
  }

  .main-button {
    border: none;
    background: #1619ef;
    background: -moz-linear-gradient(
      left,
      #1619ef 0%,
      #9b39cb 56%,
      #8b0b9b 100%
    );
    background: -webkit-linear-gradient(
      left,
      #1619ef 0%,
      #9b39cb 56%,
      #8b0b9b 100%
    );
    background: linear-gradient(
      to right,
      #1619ef 0%,
      #9b39cb 56%,
      #8b0b9b 100%
    );
    color: white;
    width: 150px;
    height: 30px;
  }

  .main-rating {
    color: white;
  }

  /* ----- Other Products ----- */

  .other-text-container {
    margin: 8px;
  }

  .productContainer {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .other-product-container {
    width: 500px;
    height: 700px;
    margin: 15px 0 0 0;
  }

  .other-product-img {
    width: 100%;
    height: 350px;
  }

  .other-picture {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
  }

  .other-details-container {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .other-button-price-container {
    display: flex;
    justify-content: space-between;
    margin: 8px;
  }

  .rating {
    color: white;
  }
}

.button,
.save-main-button {
  border: none;
  background: #1619ef;
  background: -moz-linear-gradient(left, #1619ef 0%, #9b39cb 56%, #8b0b9b 100%);
  background: -webkit-linear-gradient(
    left,
    #1619ef 0%,
    #9b39cb 56%,
    #8b0b9b 100%
  );
  background: linear-gradient(to right, #1619ef 0%, #9b39cb 56%, #8b0b9b 100%);
  color: white;
  width: 160px;
  border-radius: 5px;
  height: 30px;
}
